h1{
	text-align: center;
	font-size: 4rem;
	margin-top: 60px;
}

h1 span:nth-child(1){
	color : #0edeff;
}

h1 span:nth-child(5){
	color : #fd003a;
}

.link{
	margin-top: 20px;
}

.content{
	text-align: center;
	margin-top: 10px;
	font-size: 1.3rem;
}

.contents{
	text-align: center;
	margin-top: 30px;
	font-size: 0.8rem;
}

@media screen and (max-width: 600px) {
.content {
    font-size: 20px;
  }
}

.first{
	font-size: 0.85rem;
}
